*.dbg
.svn
*.pyc
*.~*
cache/
db/
*.compiled
utils/
trash/
wapt-get/lib
wapt-get/test
wapttray/lib
waptservice/lib
waptserviceapp/lib
/*.log
/appwaptservice.exe
*.[oa]
*.ppu
*.lps
*.compiled
*.bak*
*.exe
*.dll
*.so
*.bat
*.compiled
bin/
test/lib/
